<ion-view>	
	<ion-nav-title>SOBER</ion-nav-title>
			<!--
	<ion-content>
		<ion-list>
			<ion-item href="#/busca">Buscar</ion-item>
			<ion-item href="#/eventosGerais">Eventos Gerais</ion-item>
			<ion-item href="#/apresentacoes">Apresentações</ion-item>
			<ion-item href="#/organizadores">Organizadores</ion-item>
			-->
			<ion-content id="fhm_page">
      <div class="fhm_container">
      	<div class="fhm_row" >
        	<div class="fhm_item">
            	<a id="style_block"  href="#/busca">
            	<span class="blockfixer"></span>
            	<strong>Buscar</strong></a>
          	</div>
        	<div class="fhm_item">
           		<a id="style_block"  href="#/eventosGerais">
            	<span class="blockfixer"></span>
            	<strong>Eventos Gerais</strong></a>
        	</div>
        </div>
        <div class="fhm_row">
          	<div class="fhm_item">
            	<a id="style_block"  href="#/apresentacoes">
            	<span class="blockfixer"></span>
            	<strong>Apresentações</strong></a>
          	</div>
          	<div class="fhm_item">
            	<a id="style_block"  href="#/organizadores">
            	<span class="blockfixer"></span>
            	<strong>Organizadores</strong></a>
          	</div>
        </div>
      </div>
      </div>
		</ion-list>
	</ion-content>
</ion-view>