/* Empty. Add your own CSS if you like */
.bar {
    background-color: #FFFFFF;
    color: #f4f4f4;
}

#fhm_page .scroll,
.fhm_container {
  position:absolute;
  top:2px;
  right:2px;
  left:2px;
  bottom:2px;
}

.fhm_row {
  /* position: absolute; */
  height: 50%;
  left:2px;
  right:2px;
  background-color:#FF0000;
  clear:both;
}
.fhm_item {
  height: 100%;
  width:49.95%;
  background-color: #00FF00;
  border: 1px solid #FFFFFF;
  float:left;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
  position:relative

}
#style_block{

    display: block;
    text-decoration: none;
    color: #FFFFFF;

}
.blockfixer{
  { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}
 .custom-dark{
   #30393A !important; // text
    background-color:blue!important; 
 }
